.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin: 15px;
    border: solid 1px #b8b8b9;
    background-color: white;
    box-sizing: content-box;
}

.nombredelgrupofooter {
    width: 100%;
    height: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #b8b8b9;
}

.equipofooter {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #54585a;
}

.logoadalab {
    width: 115.9px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 45px;
}