body {
  margin: 0;
}
.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.menu-iconos {
  padding: 5px;
  width: auto;
  height: 50px;
  transform: skew(0.05);
}

.zona-azul {
  background-color: deepskyblue;
  margin-top: 20px;
  height: 50vh;
}

.footer {
  background-color: black;
  color: white;
}
