* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100hw;
  max-width: 960px;
}

.header {
  background-color: orange;
  text-align: center;
}

.main {
  text-align: center;
  background-color: palegoldenrod;
  display: flex;
}

.aside1 {
  background-color: yellow;
  width: 25%;
}

.aside2 {
  background-color: pink;
  width: 25%;
}

.article {
  background-color: cornflowerblue;
  width: 50%;
  text-align: center;
}
.footer {
  background-color: palegreen;
  text-align: center;
  height: 50px;
}
