.contenedor {
  display: flex;
  flex-direction: row; /*esta colocacion es por defecto asi q bien si no esta*/
  background-color: slategrey;
  width: 90%;
  border: 4px solid black;
  padding: 5px; /* padin entre divs y borde de contenedor*/
  flex-wrap: wrap;
}

.contenedor-item {
  width: 40%;
  background-color: red;
  border: 2px solid black;
  margin: 5px; /* margen entre divs*/
  text-align: center; /*centramos el texto*/
  padding: 10px;
}
