.contenedor {
  display: flex;
  flex-direction: column;
}

.cabecera {
  background-color: red;
  font-size: 25px;
  flex-grow: 1;
  height: 80px;
}

.main-contenedor {
  background-color: blue;
  font-size: 25px;
  min-height: 90vh;

  flex-grow: 5; /*no me hace NADA*/
}

.footer {
  background-color: darkcyan;
  font-size: 25px;
  flex-grow: 1;
}
