body {
  margin: 0;
}
.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

*.menu-iconos {
  padding: 5px;
  width: auto;
  height: 50px;
  transform: skew(0.05);
}

/*******************************************seccion equipo*******/
.equipo {
  background-color: deepskyblue;
  margin-top: 20px;
}

.titulo-equipo {
}

/*************************************************seccion de fortalezas y debilidades******/
.titulo-fortalezas {
}

.fortalezas-debilidades {
  background-color: deepskyblue;
  margin-top: 20px;
  height: 50vh;
}

.titulo-fortalezas {
}

.footer {
  background-color: black;
  color: white;
}
