body {
  margin: 0;
}
.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20% 60% 20%;
  grid-gap: 5px;
}

.item {
  background: deeppink;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-column: span 12;
}

.item2 {
  grid-column: span 4;
}
.item3 {
  grid-column: span 8;
}

.item4 {
  grid-column: span 12;
}
